物件名: <%= @property.property_name %>
<p>賃料:<%= @property.rent %>円</p>
<p>住所:<%= @property.address %></p>
<p>築年数:<%= @property.age %>年</p>
<p>備考:<%= @property.remarks %></p>

<h2>最寄り駅</h2>
 <% @nearest_station.each do |property| %>
 <p>路線名:<%= property.route_name %></p>
 <p>駅名:<%= property.station_name %></p>
 <p>所用分数:<%= property.required_time %>分</p>
 <% end %>
<%= link_to '戻る', properties_path %>
<%= link_to '編集', edit_property_path %>
